In [91]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [92]:
pwd=os.getcwd()
filepath=os.path.join(pwd,'Behavioral_Risk_Factor_Data__Tobacco_Use__2011_to_present_.csv')
data_import=pd.read_csv(filepath)
data=data_import.copy()
#data.columns

In [50]:
filtered_data = data[(data['TopicDesc'] == 'Cigarette Use (Adults)') & (data['MeasureDesc'] == 'Current Smoking')]

In [93]:
grouped_data = filtered_data.groupby(['YEAR','LocationAbbr','LocationDesc','Gender', 'Race', 'Age','Education'])['Data_Value'].mean().reset_index()

In [94]:
grouped_data

,YEAR,LocationAbbr,LocationDesc,Gender,Race,Age,Education,Data_Value
0,2011,AK,Alaska,Female,All Races,18 to 44 Years,All Grades,25.3
1,2011,AK,Alaska,Female,All Races,All Ages,All Grades,23.0
2,2011,AK,Alaska,Male,All Races,All Ages,All Grades,22.9
3,2011,AK,Alaska,Overall,African American,All Ages,All Grades,NaN
4,2011,AK,Alaska,Overall,All Races,18 to 24 Years,All Grades,21.8
...,...,...,...,...,...,...,...,...
9058,2019,WY,Wyoming,Overall,All Races,All Ages,All Grades,18.4
9059,2019,WY,Wyoming,Overall,American Indian/Alaska Native,All Ages,All Grades,46.3
9060,2019,WY,Wyoming,Overall,Asian/Pacific Islander,All Ages,All Grades,NaN
9061,2019,WY,Wyoming,Overall,Hispanic,All Ages,All Grades,21.1
9062,2019,WY,Wyoming,Overall,White,All Ages,All Grades,17.1

In [95]:
grouped_data[(grouped_data['Race']=='All Races')&((grouped_data['Age']=='All Ages'))].reset_index(drop=True)

,YEAR,LocationAbbr,LocationDesc,Gender,Race,Age,Education,Data_Value
0,2011,AK,Alaska,Female,All Races,All Ages,All Grades,23.0
1,2011,AK,Alaska,Male,All Races,All Ages,All Grades,22.9
2,2011,AK,Alaska,Overall,All Races,All Ages,All Grades,22.9
3,2011,AL,Alabama,Female,All Races,All Ages,All Grades,21.0
4,2011,AL,Alabama,Male,All Races,All Ages,All Grades,28.0
...,...,...,...,...,...,...,...,...
1426,2019,WV,West Virginia,Male,All Races,All Ages,All Grades,24.4
1427,2019,WV,West Virginia,Overall,All Races,All Ages,All Grades,23.8
1428,2019,WY,Wyoming,Female,All Races,All Ages,All Grades,17.9
1429,2019,WY,Wyoming,Male,All Races,All Ages,All Grades,18.9
1430,2019,WY,Wyoming,Overall,All Races,All Ages,All Grades,18.4

In [96]:
grouped_data.to_csv("Behavioural_risk_cigarette_use.csv",index=False)