## Tobacco Consumption

In [11]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [12]:
pwd=os.getcwd()
filepath=os.path.join(pwd,'Behavioral_Risk_Factor_Data__Tobacco_Use__2011_to_present_.csv')
data_import=pd.read_csv(filepath)
data=data_import.copy()
#data.columns

In [13]:
filtered_data = data[(data['TopicDesc'] == 'Cigarette Use (Adults)') & (data['MeasureDesc'] == 'Current Smoking')]
grouped_data_2011_2019 = filtered_data.groupby(['YEAR','LocationAbbr','LocationDesc','Gender', 'Race', 'Age','Education','GeoLocation'])['Data_Value'].mean().reset_index()
grouped_data_2011_2019.head(5)

,YEAR,LocationAbbr,LocationDesc,Gender,Race,Age,Education,GeoLocation,Data_Value
0,2011,AK,Alaska,Female,All Races,18 to 44 Years,All Grades,"(64.84507995700051, -147.72205903599973)",25.3
1,2011,AK,Alaska,Female,All Races,All Ages,All Grades,"(64.84507995700051, -147.72205903599973)",23.0
2,2011,AK,Alaska,Male,All Races,All Ages,All Grades,"(64.84507995700051, -147.72205903599973)",22.9
3,2011,AK,Alaska,Overall,African American,All Ages,All Grades,"(64.84507995700051, -147.72205903599973)",NaN
4,2011,AK,Alaska,Overall,All Races,18 to 24 Years,All Grades,"(64.84507995700051, -147.72205903599973)",21.8

In [14]:
grouped_data_2011_2019.to_csv("Cigarette_Use_2011-2019.csv",index=False)

In [15]:
Old_data=pd.read_csv('BRFSS_Prevalence_and_Trends_Data__Tobacco_Use_-_Four_Level_Smoking_Data_for_1995-2010.csv')
Old_data['Data_Value']=100-Old_data['Never smoked']
Old_data.rename(columns={"Year":'YEAR','State':'LocationDesc'},inplace=True)
Old_data[['Gender','Race','Age','Education']]=['Overall','All Races','All Ages','All Grades']
#Old_data

In [16]:
New_data_overall=grouped_data_2011_2019[(grouped_data_2011_2019['Race']=='All Races')&(grouped_data_2011_2019['Age']=='All Ages')&(grouped_data_2011_2019['Education']=='All Grades')].reset_index(drop=True)
data_1995_2011=pd.concat([New_data_overall,Old_data], axis=0)

In [17]:
data_1995_2011=pd.concat([New_data_overall,Old_data], axis=0)
data_1995_2011.head(5)

,YEAR,LocationAbbr,LocationDesc,Gender,Race,Age,Education,GeoLocation,Data_Value,Smoke everyday,Smoke some days,Former smoker,Never smoked,Location 1,Counties,States
0,2011,AK,Alaska,Female,All Races,All Ages,All Grades,"(64.84507995700051, -147.72205903599973)",23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,AK,Alaska,Male,All Races,All Ages,All Grades,"(64.84507995700051, -147.72205903599973)",22.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,AK,Alaska,Overall,All Races,All Ages,All Grades,"(64.84507995700051, -147.72205903599973)",22.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011,AL,Alabama,Female,All Races,All Ages,All Grades,"(32.84057112200048, -86.63186076199969)",21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011,AL,Alabama,Male,All Races,All Ages,All Grades,"(32.84057112200048, -86.63186076199969)",28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
Loc_code=data_1995_2011.groupby(['LocationAbbr','LocationDesc'])['GeoLocation'].first().reset_index()
location_mapping=Loc_code.set_index('LocationDesc').to_dict()
#Loc_code.head

In [19]:
data_1995_2011['LocationAbbr'] = data_1995_2011['LocationAbbr'].fillna(data_1995_2011['LocationDesc'].map(location_mapping['LocationAbbr']))
data_1995_2011['GeoLocation']=data_1995_2011['GeoLocation'].fillna(data_1995_2011['LocationDesc'].map(location_mapping['GeoLocation']))
data_1995_2011.drop(columns=['Race', 'Age','Education','Smoke everyday','Smoke some days','Former smoker','Never smoked','Counties','States','Location 1'],inplace=True)

In [20]:
data_1995_2011.to_csv('Overall_Limited_data_1995-2019.csv')
grouped_data_2011_2019.rename(columns={'Data_Value':'Value'},inplace=True)
grouped_data_2011_2019.dropna(inplace=True)
grouped_data_2011_2019.to_csv("Cigarette_Use_2011-2019.csv",index=False)

## E Cigarette Consumption